h1{
  background-color: #990000;
  color: #ffffff !important;
  width: 100%;
  text-align: left;
  font-weight: bold;
}
h2 {
  margin-top: 18px;
  background-color: #f3f2eb;
  border-bottom: 5px inset #990000;
  color: #072332 !important;
}